<mat-card class="container mx-auto w-full md:w-1/2 xl2:w-1/3 m-4">
    <div class="text-center">
        <h2 class="mat-h2">Change Personal Password</h2>
    </div>
    <kendo-stepper #stepper [steps]="steps" [stepType]="'full'" [(currentStep)]="currentStep">
    </kendo-stepper>
    <div class="m-8">
        <form *ngIf="currentStep===0" [formGroup]="passwordForm" (ngSubmit)="savePassword()">
            <div class="grid place-content-center">
                <div class="text-center">
                    <mat-form-field appearance="fill" class="w-96">
                        <mat-label>
                            Password
                        </mat-label>
                        <input matInput type="password" formControlName="password" />
                        <mat-error *ngIf="passwordFormControl['password'].touched
                                  && passwordFormControl['password'].errors?.['required']">
                            {{ requiredMessage }}
                        </mat-error>
                        <mat-error *ngIf="passwordFormControl['password'].touched
                                  && passwordFormControl['password'].errors?.['invalidPassword']">
                            {{ invalidPasswordMessage }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="text-center">
                    <mat-form-field appearance="fill" class="w-96">
                        <mat-label>
                            Confirm Password
                        </mat-label>
                        <input matInput type="password" formControlName="confirmPassword" [disabled]="passwordFormControl['password'].errors?.['required']
                                || passwordFormControl['password'].errors?.['invalidPassword']" />
                        <mat-error *ngIf="passwordFormControl['confirmPassword'].touched
                                    && passwordFormControl['confirmPassword'].errors?.['required']">
                            {{ requiredConfirmMessage }}
                        </mat-error>
                        <mat-error *ngIf="passwordFormControl['confirmPassword'].touched
                                    && passwordFormControl['confirmPassword'].errors?.['passwordMismatch']">
                            {{ invalidMismatchMessage }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="space-x-5">
                    <button type="button" mat-raised-button class="" [routerLink]="'/profile'"> Cancel </button>
                    <button mat-raised-button color="primary" class="" [disabled]="!passwordForm.valid"> Save
                        Password</button>
                </div>
            </div>
        </form>

        <div *ngIf="currentStep===1" class="container">
            <p class="done">
                <span class="k-icon k-i-check-circle icon-success icon-large"></span>
                Your password has been updated successfully.
            </p>
            <button mat-raised-button color="primary" [routerLink]="'/profile'">Close</button>
        </div>

    </div>
</mat-card>