

.comp-heading {
  background-color: #245398;
  color: #FFFFFF;
  font-size: 1.2em;
  font-family: 'Montserrat';
  font-weight: bold;
  line-height: 2.0em;
  text-align: left;
  padding: 5px;
}

.comp-table{
  width:100%
}

.comp-chart{
  padding-top: 50px;
}

.comp-statement{
  padding-top: 50px;
  padding-right: 10px;
}

.comp-statement p{
  font-size: 1.2em;
}

.comp-table th,td{
  padding: 5px;
}

.comp-table td{
  font-size: 1.2em;
}

.comp-total{
  background-color:#5897d1; /* Psomas Light Blue */
  //background-color: #ed8b22; /* Psomas Orange */
}

.spacer{
    height: 10px !important;
    background-color: #FFFFFF;
}

.bold-heading{
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.4em;
  font-size: 2em;
  color: #245398;
}



.module {
  background: white;
  border: 1px solid #ccc;
  margin: 3%;
  > h2 {
    padding: 1rem;
    margin: 0 0 0.5rem 0;
  }
  > p {
    padding: 0 1rem;
  }
}

.stripe-1 {
  color: white;
  height: 200px;
  background: repeating-linear-gradient(
    145deg,
    #FFF,
    #FFF 5px,
    #9eb7cc 5px,
    #9eb7cc 10px
  );
}

.row-even{
  background-color: #d9e5f0;
}

.blur-content {
  filter: blur(0.8rem);
}
