<ng-container *ngIf="employee">
    <mat-list>
        <mat-list-item>
            <div mat-card-avatar mat-list-icon [style.margin]="'-6px'" [style.width]="'35px'">
                <psomas-employee-photo [photo]="employee.profileimage" [width]="35" [height]="35"></psomas-employee-photo>
            </div>
            <div mat-line>{{employee.fullname}}</div>
            <div mat-line [style.margin-top]="'5px'"><a class="underline" [routerLink]="'/profile/photo'">Change Photo</a></div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon mat-list-icon>cake</mat-icon>
            <div mat-line>{{employee.dateofbirth | date | hiddenyear}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngIf="!isKPG(employee)">
            <mat-icon mat-list-icon>celebration</mat-icon>
            <div mat-line>{{employee.dateofhire | date}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon mat-list-icon>vpn_key</mat-icon>
            <div mat-line>*************</div>
            <div mat-line><a class="underline" [routerLink]="'/profile/password'">Change Password</a></div>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</ng-container>