<ng-container *ngIf="employee">
  <mat-list>
      <mat-list-item>
              <mat-icon mat-list-icon>email</mat-icon>
              <div mat-line>{{employee.emailaddress}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
              <mat-icon mat-list-icon>phonelink_ring</mat-icon>
              <div mat-line>{{employee.cellnumber | phone}}</div>
              <div mat-line><a class="underline" *ngIf="phoneChangeEnabled" [routerLink]="'/profile/phone'">Begin Change Request</a></div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [style.height]="'100px'">
              <mat-icon mat-list-icon>contact_mail</mat-icon>
              <div mat-line>
                  {{employee.address}}</div>
              <div mat-line>
                  {{employee.city}} {{employee?.state}} {{employee.zip}}</div>
              <div mat-line><a class="underline" *ngIf="addressChangeEnabled" [routerLink]="'/profile/address'">Begin Change Request</a></div>
      </mat-list-item>
      <mat-divider></mat-divider>
  </mat-list>
  <br><br>
  <div>
    <app-profile-change-requests [type]="'phone'"
      [employeenumber]="employee.employeeid"
      (pending)="togglePhoneChangeOption($event)"></app-profile-change-requests>
    <app-profile-change-requests [type]="'address'"
      [employeenumber]="employee.employeeid"
      (pending)="toggleAddressChangeOption($event)"></app-profile-change-requests>
  </div>
</ng-container>
