<div class="m-8">
    <form [formGroup]="addressForm" (ngSubmit)="submitAddress()">
        <div class="grid place-content-center">
            <div class="text-center">
                <mat-form-field appearance="fill" class="w-96">
                    <mat-label>Address Line 1</mat-label>
                    <input matInput formControlName="address" required />
                    <mat-error *ngIf="addressForm.controls['address'].invalid">
                        Address is required.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="text-center">
                <mat-form-field appearance="fill" class="w-96">
                    <mat-label>Address Line 2</mat-label>
                    <input matInput formControlName="address2" />
                </mat-form-field>
            </div>
            <div class="text-center">
                <mat-form-field appearance="fill" class="w-96">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="city" required />
                    <mat-error *ngIf="addressForm.controls['city'].invalid">
                        City is required.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="text-center">
                <mat-form-field appearance="fill" class="w-96">
                    <mat-label>State</mat-label>
                    <input matInput formControlName="state" required />
                    <mat-error *ngIf="addressForm.controls['state'].invalid">
                        State is required.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="text-center">
                <mat-form-field appearance="fill" class="w-96">
                    <mat-label>Zipcode</mat-label>
                    <input matInput formControlName="zipcode" required />
                    <mat-error *ngIf="addressForm.controls['zipcode'].invalid">
                        Zipcode is required.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="text-center">
                <mat-form-field appearance="fill" class="w-96">
                    <mat-label>Country</mat-label>
                    <input matInput value="USA" readonly />
                </mat-form-field>
            </div>
            <div class="space-x-5">
                <button mat-raised-button type="button" [routerLink]="'/profile'">Cancel</button>
                <button type="submit" mat-raised-button color="primary" [disabled]="!addressForm.valid">Verify My
                    Address</button>
            </div>
        </div>
    </form>
</div>