<mat-card class="container mx-auto w-full md:w-1/2 xl2:w-1/3 m-4">
    <div class="text-center">
        <h2 class="mat-h2">Change Personal Address</h2>
    </div>
    <kendo-stepper
        #stepper
        [steps]="steps"
        [stepType]="'full'"
        [(currentStep)]="currentStep">
    </kendo-stepper>
    <div class="m-8" *ngIf="currentStep===0 && invalid === true">
        <p class="status-box fail">
            <span class="k-icon k-i-close icon-fail"></span>
            The address is invalid.</p>
    </div>

    <app-address-form *ngIf="currentStep===0"
        [address]="oldaddress"
        (addressSubmitted)="addressSubmitted($event)">
    </app-address-form>

    <app-address-verify *ngIf="currentStep===1"
        [address]="newaddress"
        (verified)="startChangeRequest($event)">
        <app-address-staticmap
            [addressLine]="addressLine">
        </app-address-staticmap>
    </app-address-verify>

    <div *ngIf="currentStep===2" class="m-8">
        <p class="m-8 done">
            <span class="k-icon k-i-check-circle icon-success icon-large"></span>
            Change Request Complete</p>
        <div class="m-8">
            <p><strong>New Address</strong>: {{addressLine}}</p>
            <p>This new address has been submitted to HR. Allow 48 hours for the request to be completed</p>
            <p>Thank you,<br>Human Resources</p>
        </div>
        <div class="m-8">
          <button mat-raised-button color="primary" [routerLink]="'/profile'">Close</button>
        </div>
    </div>
</mat-card>
