<ng-container>
  <mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon>attach_money</mat-icon>
      <div mat-line><a class="underline" href="https://www.esopconnection.com/psomas/">ESOP Connection</a></div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon mat-list-icon>attach_money</mat-icon>
      <div mat-line><a class="underline" href="/h/?app=[[/ESOPWC/calculator.cfm]]">Wealth Calculator</a></div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <ng-template [ngIf]="hasstock">
      <mat-list-item>
        <mat-icon mat-list-icon>attach_money</mat-icon>
        <div mat-line><a class="underline" href="/accounting/stock">Psomas Stock</a></div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-template>
    <mat-list-item>
      <mat-icon mat-list-icon>attach_money</mat-icon>
      <div mat-line><a class="underline" [routerLink]="'/profile/compensation/2021'">2021 Compensation Statement</a>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</ng-container>