<ng-container *ngIf="employee">
    <mat-list>
        <mat-list-item>
            <div mat-line>{{ employee.jobtitle }}</div>
            <div mat-line class="team-property" *ngIf="!isKPG(employee)">Job Title</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div mat-line>{{ employee.supervisorname }}</div>
            <div mat-line class="team-property">Supervisor</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div mat-line>{{ employee.teamname }}</div>
            <div mat-line class="team-property">Team</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngIf="employee.issupervisor">
            <div mat-line>Work Plans</div>
            <div mat-line><a routerLink="/workplan" class="underline">Manage Team Work Plans</a></div>
        </mat-list-item>
        <mat-divider *ngIf="employee.issupervisor"></mat-divider>
        <mat-list-item>
            <div mat-line>{{ employee.groupname }}</div>
            <div mat-line class="team-property">Group</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div mat-line>{{ employee.officename }}</div>
            <div mat-line class="team-property">Office</div>
        </mat-list-item>
    </mat-list>
</ng-container>