<div>
    <button mat-raised-button color="primary"
        (click)="profilePhotoInput.click()">
        Choose File
    </button>
    <input hidden
        #profilePhotoInput
        type="file"
        (change)="fileChangeEvent($event)" />

    <div class="cropper-container">
        <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="1 / 1"
            [resizeToWidth]="256"
            [cropperMinWidth]="256"
            [onlyScaleDown]="true"
            [roundCropper]="true"
            [alignImage]="'left'"
            [style.display]="showCropper ? null : 'none'"
            [style.width]="'400px'"
            format="png"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
        ></image-cropper>
        <img
            [src]="photo"
            [style.border]="photo ? '1px solid black' : 'none'"
            [style.border-radius]="'50%'"
            />
    </div>
    <div>
        <button mat-raised-button [routerLink]="'/profile'">Cancel</button>
        <button mat-raised-button color="primary" (click)="done()"
            [disabled]="!showCropper">Save Photo</button>
    </div>

</div>

