<div class="m-8">
  <div class="m-8">
    <p>Changing your phone number requires sending you a text message to verify the phone number is actually yours.
      Standard rates apply.</p>
  </div>
  <form [formGroup]="cellForm" (ngSubmit)="submitCellnumber()">
    <div class="grid place-content-center m-8">
      <div class="text-center">
        <mat-form-field appearance="fill" class="w-96">
          <mat-label>Cell Number</mat-label>
          <input matInput type="tel" formControlName="cellnumber" required>
          <mat-icon matSuffix>phone</mat-icon>
          <mat-error *ngIf="controls['cellnumber'].touched
                      && controls['cellnumber'].errors?.['required']">
            {{ requiredMessage }}
          </mat-error>
          <mat-error *ngIf="controls['cellnumber'].touched
                      && controls['cellnumber'].errors?.['invalid']">
            {{ invalidMessage }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="space-x-5">
        <button mat-raised-button type="button" [routerLink]="'/profile'"> Cancel</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="!cellForm.valid">Text me the code</button>
      </div>
    </div>
  </form>
</div>