button {
    margin-top: 8px;
}
.address {
    text-align: center;
    margin-top:40px;
    margin-bottom: 30px;
}
.verifyquestion {
    font-weight: bold;
}
.k-form-field {
    width: 100%;
}
.k-form-field kendo-label > input.k-textbox {
    width: 100%;
}
.codefield, .codefield .k-textbox {
    width:100%;
    border: none;
    font-size: 40px;
    letter-spacing: 20px;
    border-bottom: 1px solid lightgray;
    padding-left: 25px;
    margin-left: 25px;
}
